.sidebar-nav {

	padding-top: 20px;

  }



  .sidebar-nav .nav-link {

	margin-bottom: 5px;

  }



  .content {

	/* padding: 20px; */

	/* padding-top: 20px; */

	margin-top: 3rem;

  }



  .center-table {

	display: flex;

	justify-content: center;

	align-items: center;

	/* height: 100vh; */

  }



  .search-container {

	position: absolute;

	top: 20px;

	left: 20px;

	display: flex;

	align-items: center;

	margin-left: 790px;

	margin-top: 10px;

  }



  .search-input {

	max-width: 150px;

	/* margin-right: 10px; */

  }



  table {

	background-color: #b6cfde;

	color: white;

	border: 1px solid white;

  }





  table {

	background-color: white;

	color: white;

	border: 1px solid white;

	margin-bottom: 80px;

  }



   .sidebar {

	background-color: #b6cfde;

	height: 120vh;

  }



  .sidebar-nav .nav-link {

	margin-bottom: 90px;

  }



  h2 {

	margin-top: 0.2px;



  }



  .btn-light {

	width: 11.5rem;

	height: 3rem;

	margin-top: .6rem;

  }



  

  #but{

	 background-color: #b6cfde;

	 border: none;

  }
  .add{
	height: 50px;
	margin-left: 880px;

    width: 170px;

    display: flex;

    align-items: center;
	text-align: center;

    justify-content: space-between;

    padding: 20px 20px 10px 20px;

     border: none;
	background-color:#b6cfde; 
	margin-bottom: 30px;
  }