
<head>
    <title>Signup Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Include custom CSS -->
   
  </head>
  <body>
    <h2>Signup</h2>
    <div class="container">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div>
          <label>Username:</label>
          <input type="text" formControlName="username" class="form-control" />
          <div *ngIf="username?.invalid && username?.touched">
            <div *ngIf="username?.errors?.['required']">Username is required.</div>
          </div>
        </div>
        <div>
          <label>Email:</label>
          <input type="email" formControlName="email" class="form-control" />
          <div *ngIf="email?.invalid && email?.touched">
            <div *ngIf="email?.errors?.['required']">Email is required.</div>
            <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
          </div>
        </div>
        <div>
          <label>Password:</label>
          <input type="password" formControlName="password" class="form-control" />
          <div *ngIf="password?.invalid && password?.touched">
            <div *ngIf="password?.errors?.['required']">Password is required.</div>
          </div>
        </div>
        <div>
          <label>Confirm Password:</label>
          <input type="password" formControlName="confirmPassword" class="form-control" />
          <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched">
            <div *ngIf="confirmPassword?.errors?.['required']">Confirm password is required.</div>
            <div *ngIf="signupForm?.errors?.['passwordMismatch']">Password doesn't match.</div>
          </div>
        </div>
        <button type="submit" [disabled]="signupForm?.invalid" class="btn btn-primary">Signup</button>
        <p class="loginhere">
          Have already an account? <a routerLink="/login">Login here</a>
        </p>
      </form>
    </div>
    <div *ngIf="isAccountCreated">Account is created.</div>
  
  
    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  